html,body,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	color: #fffff0;
}
body {
	background: #161010;
}
a:link, a[href] {
	color: #06f;
}
a:hover {
	color: #cc0;
}
a:visited {
	color: #f30;
}
article.even, footer, header {
	background: #201919;
}
article div.cover img.cover {
	border-color: #330;
}
article:hover div.cover img.cover,
article div.cover:hover img.cover,
article div.cover img.cover:hover {
	border-color: #999;
}
article.overview div.meta p {
	border-bottom-color: #333;
}
a.button {
	background-color: #090010;
	color: #eeeeee;
}
a.button:hover {
	background: #333 none;
	border-color: #ccc;
	color: #fff;
}
code, .code, kbd, pre, textarea {
	background: #333;
	color: #ccc;
}
del {
	color: #999;
}
div.meta table.meta tr {
	border-bottom-color: #333;
}
div#search_box {
	border-bottom-color: #ffc;
}
footer, header {
	border-color: #ffc;
	border-right: 0;
	border-left: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #ffeedd;
}
h3, h2, h1 {
	text-shadow: -0.1ex -0.1ex 0.1ex #fff;
}
header {
	color: #fff;
}
hr {
	border-color: #ffc;
	color: #ffc;
}
input[type="reset"],
input[type="text"],
input[type="submit"],
select, select option {
	background: #333;
	color: #fff;
}
input[type="reset"]:hover,
input[type="text"]:hover,
input[type="submit"]:hover,
select:hover,
select option:hover {
	background: #fff;
	color: #333;
}
p.mainlinks {
	border-top-color: #ffc;
}
pre {
	border-left-color: #666;
}
table.prevnext tr td a {
	background: #c0c0c0; /* matching the IMG's background */
	border-color: #c0c0c0;
}

/* _EoF_ */
