html,body,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	color: #fffff0;
}
body {
	background: #161010;
}
a:link, a[href] {
	color: #06f;
}
a:hover {
	color: #cc0;
}
a:visited {
	color: #f30;
}

article.overview {
	border-bottom: thin solid #ccc;
}
article.even {
	background: #201010;
}

article.overview:hover div.cover img.cover,
article.overview div.cover:hover img.cover,
article.overview div.cover img.cover:hover {
	border: thick outset #999;
}
a.button,
img.button {
	background-color: #090010;
	border: thin outset #ccc;
	color: #eeeeee;
}
a.button:hover,
a:hover img.button {
	background: #333 none;
	color: #fff;
}


code, .code, kbd, pre, textarea {
	background: #333;
	color: #ccc;
}
del {
	color: #999;
}
dl dd {
	background: #111100;
}
footer {
	border-top: thin solid #ccc;
}
h1, h2, h3, h4, h5, h6 {
	color: #ffeedd;
}
h3, h2, h1 {
	text-shadow: -0.1ex -0.1ex 0.1ex #fff;
}
header {
	background: #111100;
	border-bottom: thin solid #ccc;
	color: #fff;
}
hr {
	border-color: #ffc;
	color: #ffc;
}
input[type="reset"], input[type="submit"],
select, select option {
	background: #333;
	color: #fff;
}
pre {
	border-left: thick solid #666;
}

/* _EoF_ */
