/* fonts (keep at bottom) */

@font-face {
	font-family: "Noto Serif";
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/NotoSerif-Regular.ttf);
}
@font-face {
	font-family: "Noto Serif Bold";
	font-style: normal;
	font-weight: bold;
	src: url(/fonts/NotoSerif-Bold.ttf);
}
@font-face {
	font-family: "Noto Serif BoldItal";
	font-weight: bold;
	font-style: italic;
	src: url(/fonts/NotoSerif-BoldItalic.ttf);
}
@font-face {
	font-family: "Noto Serif Ital";
	font-weight: normal;
	font-style: italic;
	src: url(/fonts/NotoSerif-Italic.ttf);
}
@font-face {
	font-family: "Hack Mono";
	font-weight: normal;
	font-style: normal;
	src: url(/fonts/Hack-Regular.ttf);
}
@font-face {
	font-family: "Hack Mono Bold";
	font-style: normal;
	font-weight: bold;
	src: url(/fonts/Hack-Bold.ttf);
}
@font-face {
	font-family: "Hack Mono BoldItal";
	font-weight: bold;
	font-style: italic;
	src: url(/fonts/Hack-BoldItalic.ttf);
}
@font-face {
	font-family: "Hack Mono Ital";
	font-weight: normal;
	font-style: italic;
	src: url(/fonts/Hack-Italic.ttf);
}

html, body, p {
	font-family: "Noto Serif", serif;
	font-size: 11pt;
	line-height: 1.3;
}
b, .bold, strong, .strong, .strong p {
	font-family: "Noto Serif Bold", serif;
}
code, .code, input, kbd, pre, textarea {
	font-family: "Hack Mono", monospace;
}
em, .em, i, .italic {
	font-family: "Noto Serif Ital", serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Noto Serif Bold", serif;
}
h5 {
	font-family: "Noto Serif BoldItal", serif;
}
pre em, pre .em, pre i, pre.italic {
	font-family: "Hack Mono Ital", monospace;
}
pre b, pre.bold, pre strong, pre.strong {
	font-family: "Hack Mono Bold", monospace;
}

/* _EoF_ */
