/*
   Copyright © 2019, 2023 M.Watermann, 10247 Berlin, Germany
                  All rights reserved
               EMail : <support@mwat.de>
*/
html,body,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	color: #000;
}
body {
	background: #f9f9f3;
}
a:link, a[href] {
	color: #03c;
}
a:hover {
	color: #c30;
}
a:visited {
	color: #300;
}
article.even, footer, header {
	background: #dedee6;
}
article div.cover img.cover {
	border-color: #699;
}
article:hover div.cover img.cover,
article div.cover:hover img.cover,
article div.cover img.cover:hover {
	border-color: #ccc;
}
article.overview div.meta p {
	border-bottom-color: #ccc;
}
a.button {
	background: #e0f0ff none;
	border-color: #333;
	color: #000;
}
a.button:hover {
	background: #fefeff none;
	border-color: #333;
	color: #003;
}
code, .code, kbd, pre, textarea {
	background: #ebebeb none;
	color: #333;
}
del {
	color: #666;
}
div.meta table.meta tr {
	border-bottom-color: #ccc;
}
div#search_box {
	border-bottom-color: #333;
}
dl dd {
	background: #dedee6;
	border-left-color: #999;
}
footer, header {
	border-color: #333;
	border-right: 0;
	border-left: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #033;
}
h3, h2, h1 {
	text-shadow: -0.1ex -0.1ex 0.1ex #666;
}
header {
	color: #000;
}
hr {
	border-color: #ccc;
	color: #ccc;
}
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
select, select option {
	background: #fff;
	color: #030;
}
input[type="reset"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
select:focus,
select option:focus,
input[type="reset"]:hover,
input[type="search"]:hover,
input[type="submit"]:hover,
input[type="text"]:hover,
select:hover,
select option:hover  {
	background: #030;
	color: #fff;
}
p#mainlinks {
	border-top-color: #333;
}
pre {
	border-left-color: #999;
}
table.prevnext tr td a {
	background: #c0c0c0; /* matching the IMG's background */
	border-color: #c0c0c0;
}

/* _EoF_ */
