/* Reset all page elements to a reasonable default, see:
* http://meyerweb.com/eric/thoughts/2007/04/18/reset-reasoning/
*/
html,body,a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
margin:0;
padding:0;
border:0;
font:inherit;
font-size:100%;
font-weight:normal;
line-height:1.3;
vertical-align:baseline; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:none; }
table { border-collapse:collapse;border-spacing:0.1ex; }

/* individual site styles */
html, body {
	font-family: serif, sans-serif, monospace;
	font-size: 12pt;
	padding: 0 0.3ex;
}
a:link, a[href] {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
blockquote {
	display: block;
	font-size: 98%;
	line-height: 1.23;
	margin: 0.5ex 1ex 0.5ex 2ex;
	padding: 0.3ex;
	text-align: left;
	text-indent: 0;
}
b, .bold, strong, .strong, .strong p {
	color: inherit;
	font-style: inherit;
	font-weight: 900;
	line-height: inherit;
}
br, div {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	text-indent: 0;
}
code, .code, input, kbd, pre, textarea {
	/*color: inherit;	/*	*/
	font-family: monospace;
	font-size: 0.987em;
	font-weight: inherit;
	letter-spacing: normal;
	line-height: 1.123;
	padding: 0.1ex 0.3ex;
	white-space: normal;
}
dl, ol, ul {
	font-size: 1em;
	margin: 1ex 0 1ex 1ex;
	page-break-before: avoid;
}
dl, dd {
	margin-left: 2.6ex;
	line-height: 1.4;
	text-align: justify;
}
dt {
	font-weight: 600;
	margin: 1ex 0 0.6ex 0;
	padding-top: 0.3ex;
}
em, .em, i, .italic {
	color: inherit;
	font-style: italic;
	font-weight: inherit;
}
footer, header {
	border: thin solid transparent;
	border-radius: 1ex;
	clear: both;
	padding: 1ex 0.5ex 0.5ex 0;
}
footer {
	margin: 1ex 0 1ex 0;
}
footer p {
	text-align: right;
}
h1, h2, h3, h4, h5, h6 {
	border: 0;
	font-weight: 600;
	padding: 0;
	page-break-after: avoid;
	page-break-inside: avoid;
}
h6 {
	font-size: 1em;
	margin-bottom: 0.6em;
}
h5 {
	font-size: 1.1em;
	font-style: italic;
}
h4 {
	font-size: 1.2em;
	margin-top: 1.1em;
}
h3 {
	font-size: 1.4em;
	letter-spacing: 0.1ex;
}
h2 {
	font-size: 1.6em;
	letter-spacing: 0.2ex;
}
h1 {
	font-size: 1.9em;
	letter-spacing: 0.3ex;
	page-break-before: always;
}

header {
	margin: 0 0 1em 0;
}
hr {
	border-style: inset;
	border-width: 1pt 0 0 0;
	clear: both;
	display: block;
	max-height: 1pt;
	max-width: 46%;
	margin: 1em auto;
	padding: 0;
	text-align: center;
	text-indent: 0;
}
img, svg {
	vertical-align: middle;
	max-width: 99%;
	max-height: 99%;
	height: auto;
	width: auto;
}
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
select,
select option {
	border-radius: 0.66ex;
	border: thin outset transparent;
	font-size: inherit;
	hyphens: none;
	padding: 0 0.2ex 0.1ex 0.2ex;
	vertical-align: baseline;
}
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
select {
	height: 3ex;
}
input[type="search"],
input[type="text"],
select {
	font-size: 89%;
}
input[type="reset"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
select:focus,
select option:focus,
input[type="reset"]:hover,
input[type="search"]:hover,
input[type="submit"]:hover,
input[type="text"]:hover,
select:hover,
select option:hover {
	border-style: inset;
}
input[type="submit"] {
	padding: 0 1ex 0.1ex 1ex;
}
ol, ul {
	list-style-type: decimal;
	list-style-position: outside;
}
dl dt, dl dd, ol li, ul li {
	text-indent: 0.3ex;
}
p {
	font-family: serif;
	font-size: 1em;
	hyphens: auto;
	line-height: 1.4;
	margin: 0.2ex 0;
	padding: 0.2ex 0;
	text-align: inherit;
}
blockquote p {
	margin: 0.4ex 0;
	padding: 0.4ex 0;
	text-align: inherit;
	text-indent: inherit;
}
pre, textarea {
	border-radius: 1ex;
	display: block;
	font-family: monospace;
	font-size: 88%;
	font-weight: inherit;
	letter-spacing: normal;
	line-height: 1.36;
	margin: 2ex 1ex 2ex 0;
	padding: 0.5ex 1ex;
	overflow: visible;
	text-align: left;
	text-indent: 0;
	white-space: pre-wrap;
}
pre {
	border-left: thick solid transparent;
}
pre + p {
	text-indent: 0;
}
small, .small {
	color: inherit;
	font-size: 79%;
	font-weight: inherit;
}
table {
	border-collapse: collapse;
	border-spacing: 1pt;
	display: table;
	line-height: 1.23;
	text-align: left;
	text-indent: 0;
	vertical-align: middle;
	width: 100%
}
textarea {
	padding: 0.5ex;
}
u, .underline {
	text-decoration: underline;
}
ul, menu, dir {
	list-style-type: disc;
}
ul li ul {
	list-style-type: circle;
}
ul li ul li ul {
	list-style-type: square;
}
ul li {
	display: list-item;
	margin-left: 1ex;	/* */
	/* list-style-position: outside;	/* */
}
li p {
	margin-top: 0;
}

body, #body {
	margin: 0 auto;
	padding: 0;
	max-width: 100ex;
}
#bodypage {
	min-height: 3em;
	width: 100%;
}
#imprint, #imprint p {
	hyphens: none;
	text-indent: 0;
}
img#logo {
	max-height: 96px;
	max-width: 96px;
}
div#search_box {
	border-bottom: thin solid transparent;
	font-size: 90%;
	/* we need this to allow for wrapping on smaller screens: */
	line-height: 2.5;
	padding: 0 0 1ex 0;
	text-align: right;
}
div#search_box table {
	border: 0;
}
div#search_box table td {
	/*border: thin dotted #666;	/* */
	padding: 0.2ex;
	vertical-align: middle;
}
div.back p.back {
	margin: 0 0 1ex 0;
	padding: 0 0 0.3ex 1ex;
	text-align: left;
}
a.button {
	border: thin outset transparent;
	cursor: pointer;
	font-size: 98%;
	hyphens: none;
	margin: 0 1pt 0 0;
	padding: 0 0.3ex 0.1ex 0.2ex;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
}
a.button:hover {
	border-style: inset;
	text-decoration: none;
}
article.document {
	width: 100%;
}
article.document h2 {
	text-align: center;
	margin: 1em auto;
}
.centered, .error {
	margin: 0 auto;
	text-align: center;
}
blockquote.comment {
	margin: 1ex 0;
	max-height: 10em;
	overflow: auto;
	text-align: justify;
}
article .comment h6 {
	font-size: 2ex;
	margin: 1ex auto;
}
article .comment h5 {
	font-size: 2.1ex;
	margin: 1ex auto;
}
article .comment h4 {
	font-size: 2.2ex;
	margin: 1ex auto;
}
article .comment h3 {
	font-size: 2.3ex;
	margin: 1ex auto;
}
article .comment h2 {
	font-size: 2.4ex;
	margin: 1ex auto;
}
article.comment h1 {
	font-size: 2.5ex;
	margin: 1ex auto;
}
article.document div.meta div.comment {
	margin: 1em 1ex 0 0;
}
div.cover {
	display: inline-block;
	vertical-align: top;
}
article.document div.cover {
	float: right;
	max-width: 38%;
	text-align: right;
}
div.cover img.cover {
	border-radius: 0.6ex;
	max-height: 99.9%;
	max-width: 99.9%;
}

article.grid {
	border: thin solid transparent;
	padding: 0 0.3ex;
}
article.grid {
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 32%;
}
article.grid div.cover img.cover {
	max-height: 46ex;
}

article div.cover img.cover {
	border: thick outset transparent;
	border-radius: 1.5ex;
	/*max-width: 98%;	/*	*/
}
article:hover div.cover img.cover,
article div.cover:hover img.cover,
article div.cover img.cover:hover {
	border-style: inset;
}

article.overview {
	max-height: 40ex;
	overflow: auto;
	max-width: 104ex;
}
article.overview {
	border-radius: 1ex;
	border: thin solid transparent;
	margin: 0 0 1ex 0;
	padding: 0 0 1ex 0;
}
article.overview div.cover {
	padding: 1ex 0 0 0;
	width: 20%;
}
article.overview div.meta p {
	border-bottom: thin dashed transparent;
}
.error {
	padding: 1em 0 1em 0;
}
.justified {
	text-align: justify;
}
td.label {
	width: 20%;
}
.left {
	text-align: left;
}
p.mainlinks {
	border-top: thin solid transparent;
	margin: 0.5ex 0 0 0;
}
div.meta {
	display: inline-block;
	padding: 0 0.5ex;
	vertical-align: top;
}
.document div.meta {
	width: 60%;
}
.overview div.meta {
	max-height: 22em;
	margin: 0 0 0 1ex;
	width: 76%;
}
.overview .meta p,
table.meta tr td {
	line-height: 1.5; /* make room for the button links */
	padding: 0 0 0.2ex 0;
}
div.meta table.meta tr {
	border-bottom: thin dashed transparent;
}
.overview .meta .comment {
	border: 0;
	margin: 0;
}
.overview .meta .comment,
.overview .meta .comment p {
	line-height: 1.4;
}
div.naviline {
	min-height: 1em;
}
p.naviline {
	letter-spacing: 0.3ex;
	padding: 0 0 0.5ex 0;
	text-align: center;
}
table.prevnext {
	margin: 0 auto;
	padding: 0 0 0.5ex 0;
	width: 99%;
}
table.prevnext tr td {
	padding: 0 0 0.5ex 0;
	text-align: center;
	width: 24%;
}
table.prevnext tr td a {
	background: transparent;
	border: thin outset transparent;
	padding: 0;
}
table.prevnext tr td a:hover {
	border-style: inset;
}
.right {
	text-align: right;
	margin-right: 1ex;
}
.smaller {
	color: inherit;
	font-size: 89%;
	font-weight: inherit;
}

/* _EoF_ */
