[Unit]
Description=Kaliber eBook Server
Documentation=https://github.com/mwat56/kaliber/
After=network.target

[Service]
Type=idle
User=matthias
Group=matthias
WorkingDirectory=/home/matthias/devel/Go/src/github.com/mwat56/kaliber/
ExecStart=/home/matthias/devel/Go/src/github.com/mwat56/kaliber/bin/kaliber-linux-amd64 -listen=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
