{{- define "index" -}}
{{template "htmlpage" .}}
{{- end -}}

{{- define "bodypage" -}}
	{{- if $.IsGrid -}}
		{{template "gridlayout" .}}
	{{- else -}}
		{{template "listlayout" .}}
	{{- end -}}
{{- end -}}
